 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <img src="/assets/img/vuetify-logo.png" width="75" height="75" alt="Vuetify">
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <img src="/assets/img/figma.png" width="120" height="64" alt="FIGMA">
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <img src="/assets/img/net-core.png" width="75" height="75" alt=".NET Core"> 
      <img src="/assets/img/openlayers_logo.png" width="100" height="100" alt="Openlayers">
      <i class="devicon-vuejs-plain colored"></i>
      <img src="/assets/img/extjs.png" width="100" height="100" alt="Extjs">
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-dot-net-plain colored"></i>
      <img src="/assets/img/xamarin.png" width="80" height="80" alt="Xamarin">
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <img src="/assets/img/azure-logo.png" width="128" height="37" alt="FIGMA">
      <img src="/assets/img/c3d-logo.png" width="75" height="75" alt="Civil 3D">
      <img src="/assets/img/geoserver.png" width="100" height="100" alt="Geoserver">
      <img src="/assets/img/arcgis-logo.png" width="75" height="75" alt="ArcGIS">
      <img src="/assets/img/qgis-logo.png" width="128" height="38" alt="QGIS">
    </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Others</h2>
    <i class="devicon-postgresql-plain colored"></i>
    <img src="/assets/img/postgis.png" width="280" height="100" alt="PostGIS">
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-nginx-original colored"></i>
    <img src="/assets/img/vagrant.png" width="60" height="84" alt="Vagrant">
    <img src="/assets/img/parcel.png" width="65" height="51" alt="Parcel">
    <img src="/assets/img/ubuntu-logo.png" width="80" height="70" alt="Ubuntu">
  </div>
</div>
