<div class="user-details">
  <h1> Job Experience  </h1>
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="Digitarca" src="{{ "/assets/img/upwork-logo.png" | prepend: site.baseurl }}" />
    </div>
  <div class="contents">
    <h3> GIS Developer (Freelancer) </h3>
    <ul>
      <li> @Upwork (2018-present) </li>
    </ul>
    <p>
      Working for individuals, companies, universities in developing GIS applications for Web and Mobile. <br> <br>
      Technologies used: <i>Vue/Vuetify, Flutter, Openlayers, Geoserver, PostgreSQL/PostGIS, Docker, Kubernetes</i>
    </p>
    <a class="project-link" target="_blank" href="https://www.upwork.com/freelancers/~01b47276c6150cc35c">Check it out</a>
  </div>

</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Digitarca" src="{{ "/assets/img/digitarca-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GIS Developer </h3>
    <ul>
      <li> @Digitarca (2019-2020) </li>
    </ul>
    <p>
      Digitarca deals with 3D laser scanner surveys with terrestrial and inertial acquisition systems, operating for
      over
      10
      years in the 3D sector it has developed internally software that helps the client to manage large quantities of
      three-dimensional data useful for the development of projects within the GIS / 3D BIM.
      My responsibility there was developing client part of SmartCITY3D, a web based application to manage point clouds,
      panoramas and GIS assets.<br> <br>
      Technologies used:  <i>Angular, Openlayers</i>
    </p>
    <a class="project-link" target="_blank" href="http://www.digitarca.it/">Check it out</a>
  </div>

</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="ikubINFO" src="{{ "/assets/img/ikubinfo-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GIS Developer  </h3>
    <ul>
      <li> @ikubINFO (2017-2019) </li>
    </ul>
    <p>
      ikubINFO is a company based in Tirana, Albania founded in 2007 and specialized in various fields like Software Engineering, GIS Applications etc. 
      My role at the company is developing various GIS applications, web and mobile for public and private sector. 
      My main focus here was developing WebGIS applications, mostly for municipality projects (USAID PLGP) and maintaining existing applications. <br><br>

      Technologies used: <i>ExtJS, Openlayers, Geoserver, PostgreSQL/PostGIS, .NET (C#), Xamarin Forms</i>
    </p>
    <a class="project-link" target="_blank" href="https://ikubinfo.al/">Check it out</a>
  </div>
  
</div>