<div class="user-details">
  <h1> Job Experience  </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ikubINFO" src="{{ "/assets/img/ikubinfo-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GIS Developer </h3>
    <ul>
      <li> @ikubINFO </li>
    </ul>
    <p>
      ikubINFO is a company based in Tirana, Albania founded in 2007 and specialized in various fields like Software Engineering, GIS Applications etc. 
      My role at the company is developing various GIS applications, web and mobile for public and private sector. 
      My main focus here is developing WebGIS applications, mostly for municipality projects (USAID PLGP) and maintaining existing applications. 
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
